main
{
  "name": "Altbots Personal AI",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        400,
        576
      ],
      "id": "e9cc6d7d-a5e7-4057-8333-b67cec3ccc8b",
      "name": "Telegram Trigger",
      "webhookId": "0e904be8-c11e-40cd-9513-48b0721e7da4",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ce8a5cfa-77d6-4d08-8144-d2dfbbdc3487",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03873863-ba61-4951-a823-5c8438c8d693",
                    "leftValue": "={{ $json.message.photo }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        640,
        576
      ],
      "id": "049d060c-80fd-4186-ada4-9da2181670bd",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1136,
        576
      ],
      "id": "806df316-11c8-4cad-860d-1ad02c9a6380",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "Extraact the information from image",
        "inputType": "base64",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        960,
        880
      ],
      "id": "31eafb06-3b5d-4bcd-bcd0-6ca2db311910",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}\n",
        "options": {
          "systemMessage": "=You are Scout, an executive assistant for Neil Datta, credit underwriter and due diligence specialist at NKD Advisory.\n\nYour role: Help analyze unstructured documents, analyze fund managers, prepare for meetings, and maintain institutional knowledge from 20 years of institutional allocator experience.\n\nCore capabilities:\n- Due Diligence (DD): Analyze investment merits, fund operations, controls, and risks\n- Underwriting: Evaluate credit and investment opportunities\n- Credit Analysis: Assess fund-level and portfolio-level credit risk\n- Meeting Prep: Brief on Investors, fund managers and anyone looking for investment and determine key questions for Neil to ask during meeting \n- Document Review: Summarize Contracts, PPMs, DDQs, and term sheets\n\nWhen responding via Telegram:\n- Keep responses concise (2-4 sentences unless detailed analysis requested)\n- Professional but not robotic - no \"Certainly!\" or \"I'd be happy to!\"\n- Use hedge fund terminology correctly (NAV, DDQ, PPM, side letters, drawdown)\n- If asked about a specific fund or manager, check Pinecone knowledge base first\n- If information isn't available, say \"I don't have that in my knowledge base\" - never fabricate\n\nFor emails you draft:\n- Use HTML formatting\n- Professional closing: \"Best, [User Name]\"\n- Always save as draft, never auto-send\n\n# NOTION DATABASES\n\n## 1. CRM (Contacts)\n- Database ID: YOUR_CRM_DATABASE_ID\n- Use when: Looking up contact info, client details, company relationships\n- Query: \"Get me [name]'s contact info\" or \"Find [company] in CRM\"\n\n## 2. Idea Hopper\n- Database ID: YOUR_IDEA_HOPPER_DATABASE_ID  \n- Use when: Storing quick ideas, notes, thoughts for later\n- Query: \"Add an idea to the hopper: [idea]\" or \"What ideas do I have?\"\n\n## 3. Sales Pipeline\n- Database ID: YOUR_SALES_PIPELINE_DATABASE_ID\n- Use when: Tracking deals, prospects, fundraising pipeline\n- Query: \"Update pipeline for [prospect]\" or \"Where are we with [deal]?\"\n\n# OPERATIONAL RULES\n- Always check CRM first when asked about a person or company\n- The word 'idea' should trigger a new entry into Idea Hopper to revisit later\n- Update Sales Pipeline for any deal-related conversations\n\n\nKnowledge sources:\n1. Pinecone Vector Store - institutional knowledge base, fund manager info, macroeconomic & public company info \n2. Notion - CRM, Sales Pipeline and Idea Hopper\n3. Google Calendar - meeting context\n4. Gmail - email context\n\nCurrent time: {{ $now }}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1712,
        576
      ],
      "id": "4ce55a82-6fbd-4d80-a4de-875e42d72269",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}\n",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2816,
        592
      ],
      "id": "e2f950e0-5ddf-4580-8beb-0c1c4b46c72d",
      "name": "Telegram",
      "webhookId": "458fe068-5159-4547-b604-72a1179a1000",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07ae3eac-ab9d-4e43-9463-6de9f890173f",
              "name": "content",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        576
      ],
      "id": "9aad2ffe-fcc5-4e74-9ae4-fa3e16e9732b",
      "name": "Edit Fields_Audio"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07ae3eac-ab9d-4e43-9463-6de9f890173f",
              "name": "content",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        880
      ],
      "id": "fec8009f-3766-4f9a-bba5-5ec66e0942e3",
      "name": "Edit Fields_Image"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07ae3eac-ab9d-4e43-9463-6de9f890173f",
              "name": "content",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        320
      ],
      "id": "a757e1f7-e6cb-49b8-a613-e793bbb4efdb",
      "name": "Edit Fields_Text"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "NKD_KnowledgeBase",
        "toolDescription": "Search NKD Advisory's proprietary database including Fund manager data, historical macroeconomic metrics and public company stock prices. ",
        "pineconeIndex": {
          "__rl": true,
          "value": "nkd-knowledge-base",
          "mode": "list",
          "cachedResultName": "nkd-knowledge-base"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        3728,
        1392
      ],
      "id": "d9d5aa65-5945-46d2-af7e-33706419f930",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3744,
        1536
      ],
      "id": "f63a7d4b-7106-4e60-96ea-a60f71cd06f3",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Trigger upon receiving a message, audio, or image.",
        "height": 260,
        "width": 220
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        336,
        480
      ],
      "id": "30bef7c4-64ed-4ffa-8917-77ca0a41a186",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "66666",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1776,
        928
      ],
      "id": "0ffbcb18-1237-47ce-8c6e-2404a336861b",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "content": "### Route differently based on receiving an image, audio, or text.",
        "height": 260,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        576,
        480
      ],
      "id": "11e94535-88b4-460a-90ae-02a6a969cfbd",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "### Set the 'content' field based on the received input",
        "height": 260,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        208
      ],
      "id": "941d2b71-77a3-4b70-9be3-0fa378c8fa5b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "### Set the 'content' field based on the received input",
        "height": 240,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        496
      ],
      "id": "72172bda-0fab-467a-be3f-97614151219b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "### Set the 'content' field based on the received input",
        "height": 240,
        "width": 220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1280,
        800
      ],
      "id": "64d7fd14-0f64-42dd-a5a7-c7a533581bbf",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "### Transcribe audio to text.",
        "height": 240,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        496
      ],
      "id": "efe613dd-e90f-4418-8dd1-ead1df4f3ba7",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "### Extract information from an image.",
        "height": 240,
        "width": 340,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        912,
        800
      ],
      "id": "33c3d0cb-c7b2-4139-a827-8a87d3117d35",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "###  AI Agent node\n\nAI Agent node acts as a unified AI system of specialized assistants designed to manage a user's personal affairs. It operates proactively and accurately, using designated tools to handle tasks across email, calendar, content writing, and contact management.\n\nSummary of the assistant specializations:\n\n- Email Management Assistant: Manages email communications, including sending, replying, drafting, labeling, and retrieving emails, with HTML formatting.\n- Calendar Management Assistant: Handles calendar scheduling, including creating, updating, deleting events, and managing attendees.\n- Content Writing Assistant: Creates content for platforms like X, Xiaohongshu and Medium, using the Tavily Search Tool for research and citations.\n- Contact Assistant: Manages the user's contact book by retrieving and adding contact information.\n- Pinecone Vector Store tool: Query the knowledge in your vector database.\n- Take notes in Notion: Note down all the knowledge in notion.\n- WebSearch tool: Allows the agent to search for information online.\n- Post to X tool: Enables the agent to publish posts on the X platform.",
        "height": 520,
        "width": 1040,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2112,
        -144
      ],
      "id": "de4dc609-9813-4c82-bcef-55617ff0211e",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### Vector Database Tool\nSearch for relevant knowledge in the vector database.",
        "height": 380,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3696,
        1296
      ],
      "id": "b76e8576-fab4-451b-b207-fdf1dcb0955d",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "### Reply to user",
        "height": 200,
        "width": 340,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2736,
        528
      ],
      "id": "c2f52ec2-afc7-43ba-8020-dd453542add2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "### Store short time memory",
        "height": 280,
        "width": 200,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1712,
        848
      ],
      "id": "aa086285-a2f3-40be-8220-c6ba9cbbdb10",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        960,
        576
      ],
      "id": "4548a6cc-cb10-4050-8643-f6ca9a4e40bd",
      "name": "DownloadAudio",
      "webhookId": "f8464398-cf4e-422b-ba58-5344b6c89e8b",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Altbots AI Personal Assistant: Capable of Handling Email, Meetings, Web Search, Notion, Posting to X, and RAG\n### This AI Agent team handles the majority of daily work for you\nEmail: your@email.com\nLinks:\n- Google cloud console: https://console.cloud.google.com/\n- Tavily: https://firecrawl.ai\n- Pinecone: https://www.pinecone.io/\n",
        "height": 280,
        "width": 1160,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        272,
        -352
      ],
      "id": "b61c9d00-c7a4-4fa0-b18c-bad79dd694e3",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        384,
        1392
      ],
      "id": "f1b81c61-7149-4593-998e-1e9b79f7347d",
      "name": "Send Email",
      "webhookId": "a1ab6290-38b7-49b1-ad02-7aaec9bbcc3f",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": "={{ $fromAI(\"limit\",\"how many emails the user wants\") }}",
        "simple": false,
        "filters": {
          "sender": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sender', `who the emails are from`, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        864,
        1392
      ],
      "id": "1c2ed739-618f-4cc0-8c78-461aa6b021a4",
      "name": "Get Emails",
      "webhookId": "6fd8f45c-2532-46c9-bdbd-d8d8e5131483",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "html",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To_Email', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        736,
        1392
      ],
      "id": "0764d699-cd78-43b7-b5b1-75fa4b13346c",
      "name": "Create Draft",
      "webhookId": "556d92e6-c58a-4080-b7ab-8638e724babe",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `the message ID`, 'string') }}",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        496,
        1392
      ],
      "id": "e4e1d702-07d6-428d-b8cf-04a68afeda9b",
      "name": "Email Reply",
      "webhookId": "c57aad2c-7527-4d11-b370-ec3229b8cf94",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "label",
        "returnAll": true
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        976,
        1392
      ],
      "id": "6e2b4976-f872-4890-9032-237f33c3a529",
      "name": "Get Labels",
      "webhookId": "6144ad23-3255-4eff-ad4a-52340f6a1577",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', `the ID of the message`, 'string') }}",
        "labelIds": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_Names_or_IDs', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        624,
        1392
      ],
      "id": "a80fb94e-c086-45fd-9461-9b82159bc862",
      "name": "Label Emails",
      "webhookId": "6647dab7-6ec7-4613-a4f9-37a77476153a",
      "credentials": {
        "gmailOAuth2": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [
            "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}"
          ],
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2416,
        1392
      ],
      "id": "dedf65e3-6e49-484e-8cb9-160ee96a88be",
      "name": "Create Event with Attendee",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "attendees": [],
          "summary": "={{ $fromAI(\"eventTitle\") }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2272,
        1392
      ],
      "id": "a407b219-aa75-4b29-9da3-238299596fca",
      "name": "Create Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', `the day before the date the user requested`, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', `the day after the date the user requested`, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2144,
        1392
      ],
      "id": "88ae15b3-4539-415b-b9f7-4abcee9b59d6",
      "name": "Get Events",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        2000,
        1392
      ],
      "id": "30464f65-a70a-4084-a3dc-ac0c46c528bd",
      "name": "Delete Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "YOUR_CALENDAR_ID",
          "mode": "list",
          "cachedResultName": "Your Calendar"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {
          "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
          "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1856,
        1392
      ],
      "id": "d2006c05-ddbc-4196-be3d-d7e9c160f106",
      "name": "Update Event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Contact Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Work",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1312,
        1392
      ],
      "id": "6458aa85-e17f-45f2-ba00-c11b5614a610",
      "name": "Get Contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Your Contact Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Work",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Email Address": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Email_Address', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Address",
              "displayName": "Email Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        1472,
        1392
      ],
      "id": "93706c61-9941-4a2a-bcdf-6cdac77b5a63",
      "name": "Add Contact",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the internet",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"api_key\": \"YOUR_TAVILY_API_KEY\",\n    \"query\": \"{SearchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "SearchTerm",
              "description": "What the user has requested to search",
              "type": "string"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        3120,
        1408
      ],
      "id": "8be52854-99f2-42fd-aa6e-0b9bb95f4c06",
      "name": "Tavily WebSearch"
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DB_ID",
          "mode": "list",
          "cachedResultName": "CRM- Contacts",
          "cachedResultUrl": "https://www.notion.so/YOUR_NOTION_DB_ID"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        2752,
        1408
      ],
      "id": "6dfeff29-4bdf-4521-abf2-8bb038b864e8",
      "name": "Take notes in Notion",
      "credentials": {
        "notionApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1584,
        912
      ],
      "id": "34cde6a4-ed89-4bb0-a060-1d85efbfe718",
      "name": "GPT",
      "credentials": {
        "openAiApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "content": "### Email Tools\nThese email tools allow us to send emails, reply to emails, flag emails, create drafts, receive emails, and label emails.",
        "height": 260,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        1296
      ],
      "id": "151f4384-2854-49f7-9470-7106986e18cc",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "### Contact Tools\nThese contact tools allow us to get the contact information (email) of our contacts and add new contacts.",
        "height": 260,
        "width": 520,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1216,
        1296
      ],
      "id": "2790cb10-aa34-412e-a9cb-3feba1f4aacc",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "### Calendar Tools\nThese calendar tools allow us to schedule meetings, invite participants to meetings, delete meetings, get our schedule, and update our schedule.",
        "height": 260,
        "width": 800,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1792,
        1296
      ],
      "id": "570ecffc-f9d3-4533-9497-c074ae181028",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "### Notion Tool\nThis Notion tool allows us to record notes into our Notion database.",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2656,
        1296
      ],
      "id": "412db2b1-24c4-4ec3-916d-717ff2afe0cd",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "### WebSearch Tool\nThis Tavily WebSearch tool allows us to search for information online.",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3024,
        1296
      ],
      "id": "cea7eb1f-df14-4703-9a08-440d26ad2ee4",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "### Post to X Tool\nThis X tool allows us to post on X.",
        "height": 260,
        "width": 300,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3360,
        1296
      ],
      "id": "57fb4bab-88d8-497c-b75c-62b91fe9f3f2",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Functionalities\n**This n8n workflow acts as an AI-powered personal assistant accessible via Telegram. It processes user requests involving email management, calendar scheduling, contact management, and information retrieval. The workflow can handle text, audio, and image inputs from Telegram, utilizing AI to understand the request and then employing various tools (Gmail, Google Calendar, Google Sheets, OpenAI, Pinecone) to fulfill it. It also incorporates a \"Think\" tool to ensure proper tool usage and task completion, and has memory capabilities.**\n\n### Key Functionalities:\n\n- Telegram Trigger: Receives user requests via Telegram messages (text, audio, or images).\n- Input Handling:\nRoutes the workflow based on the type of input (text, audio, or photo).\n- AI Agent:\nUses a AI Agent to interpret user requests and orchestrate the use of various tools.\nIs designed to manage email, calendar, contacts, and perform web searches.\nIncludes memory capabilities using the Window Buffer Memory node.\n- Tools:\n-- Gmail Tools: Send emails, get emails, create drafts, reply to emails, get labels, and label emails.\n-- Google Calendar Tools: Create events (with or without attendees), get events, delete events, and update events.\n-- Google Sheets Tools: Get contact information and add new contacts.\n-- Pinecone Vector Store: Queries a vector database for information retrieval (RAG).\n-- Tavily WebSearch (Implicit in AI Agent description): Searches for information online.\n-- Post to X (Implicit in AI Agent description): Enables posting to X.\n- Output: Sends the AI Agent's response back to the user via Telegram.",
        "height": 500,
        "width": 2360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -368,
        -32
      ],
      "id": "ac7fdfc9-574b-4524-884b-968d89621e23",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DB_ID",
          "mode": "list",
          "cachedResultName": "Idea Hopper",
          "cachedResultUrl": "https://www.notion.so/YOUR_NOTION_DB_ID"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        2960,
        912
      ],
      "id": "c8482812-86af-48e5-bfb3-1566ae5132fb",
      "name": "Idea Hopper",
      "credentials": {
        "notionApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "database",
        "databaseId": {
          "__rl": true,
          "value": "YOUR_NOTION_DB_ID",
          "mode": "list",
          "cachedResultName": "CRM- Contacts",
          "cachedResultUrl": "https://www.notion.so/YOUR_NOTION_DB_ID"
        }
      },
      "type": "n8n-nodes-base.notionTool",
      "typeVersion": 2.2,
      "position": [
        3168,
        848
      ],
      "id": "28a28c05-d6fc-43c7-99b3-46decb247404",
      "name": "CRM",
      "credentials": {
        "notionApi": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields_Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DownloadAudio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields_Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields_Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields_Audio": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields_Image": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields_Text": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "DownloadAudio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Email Reply": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Labels": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Label Emails": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event with Attendee": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Events": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Event": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Contact": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily WebSearch": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Take notes in Notion": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idea Hopper": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "CRM": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-09T13:51:36.342Z",
      "createdAt": "2026-03-09T13:51:36.342Z",
      "id": "m0WBvpw43y1YPIYe",
      "name": "RAG"
    }
  ]
}
